.quote{
  margin-top: 20px;
  background-color: rgba(185, 235, 235, 0.614);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width:80vw
}

.counter{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 90%;
}
